<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-1-sm">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= current_user.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= current_user.email %></h6>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tweets</th>
                    <th scope="col">Following</th>
                    <th scope="col">Followers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= current_user.tweets.count %></td>
                    <td><%= current_user.followings.count %></td>
                    <td><%= current_user.followers.count %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-11-sm">
        <%= render current_user.tweet_timeline %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="tweetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tweetModalLabel">Compose new tweet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_for @tweet do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.text_area :content, class: "form-control", placeholder: "What's happening?" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Tweet", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% end %>
